body {
    background: #333;
}

#page-wrap:after {
    content: "Smartphone Layout";
}

h2 span, section h3 {
    display: none;
}
body {
    font-size: xx-large;
}
footer, input {
    font-size: large;
}

.author-content {
    width: 90%;
    margin: 0 auto;
}

.name {
    padding: 10px 0 10px 60px;
    min-width: 220px;
    max-width: 300px;
}
