* {
    margin:0;
    padding: 0;
}

body {
  font: 16px Georgia, serif;
}

#page-wrap {
    margin: 2% auto;
    color: white;
}
#page-wrap > .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
}

section > div {
    padding: 20px;
}
header, nav, section {
    background: #eee;
    text-align: center;
}
footer {
    background: #eee;
    text-align: center;
}
nav span {
    margin: 0 10px 0 0;
}

.author-content {
    width: 90%;
    margin: 0 auto;
}

.authors-list {
    list-style: none;
}

.name {
    background-repeat: no-repeat;
    padding: 20px 0 20px 60px;
    background-size: 50px;
    margin: 0 auto;
    width: 50%;
    min-width: 100px;
    max-width: 150px;
}

.jordi {
    background-image: url(/images/IMG_0508.JPG);
}
